:root {
  --md-primary-fg-color:  #0437F2;
}

.container {
  display: flex; /* Menggunakan Flexbox untuk membuat konten berderet */
  justify-content: flex-start; /* Menyusun konten ke kiri */
  gap: 13px; /* Jarak antar card */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 150px; /* Set untuk gambar potret */
  max-height: 180px; /* Set untuk gambar potret */
  text-align: center;
  font-family: 'Nunito', Arial, sans-serif;
  display: flex; /* Menggunakan Flexbox untuk isi card */
  flex-direction: column; /* Menyusun elemen secara vertikal */
  justify-content: space-between; /* Memastikan jarak antar elemen */
  border-radius: 7px; /* Atur radius sesuai kebutuhan */
  overflow: hidden; /* Agar isi card tidak melampaui sudut */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Shadow lebih besar saat hover */
  transform: scale(1.05); /* Sedikit memperbesar card saat di-hover */
  transition: 0.3s ease; /* Tambahkan transisi agar efeknya lebih halus */
}

.card img {
  width: 100%;
  height: auto;
}

.card h1 {
  font-size: 14px;
  margin: 0; /* Menghapus margin default */
  font-family: 'Nunito', Arial, sans-serif;
}

.card p.text {
  padding: 0 10px; /* Menambahkan padding kiri dan kanan */
  font-size: 10px; /* Ukuran teks */
  font-family: 'Nunito', Arial, sans-serif;
}

.card button {
  border: none;
  outline: 0;
  padding: 6px; /* Ukuran button */
  color: #fff;
  background-color: #0437F2;
  text-align: center;
  font-family: 'Nunito', Arial, sans-serif;
  cursor: pointer;
  width: 80%;
  font-size: 9px; /* Ukuran teks button */
  margin-top: auto; /* Memastikan tombol berada di bawah */
  border-radius: 3px; /* Atur radius sesuai kebutuhan */
}

.card button:hover {
  opacity: 0.7;
}

.rname {
    margin-top: 0;  /* Menghapus margin atas */
    margin-bottom: 0; /* Menghapus margin bawah */
}

h1.rname {
    margin-bottom: 10px; /* Atur jarak bawah h1 sesuai kebutuhan */
}
