.container {
  display: flex; /* Menggunakan Flexbox untuk membuat konten berderet */
  justify-content: flex-start; /* Menyusun konten ke kiri */
  gap: 13px; /* Jarak antar card */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 120px; /* Set untuk gambar potret */
  max-height: 180px; /* Set untuk gambar potret */
  text-align: center;
  font-family: arial;
  display: flex; /* Menggunakan Flexbox untuk isi card */
  flex-direction: column; /* Menyusun elemen secara vertikal */
  justify-content: space-between; /* Memastikan jarak antar elemen */
}

.card img {
  width: 100%;
  height: auto;
}

.card h1 {
  font-size: 14px;
  margin: 0; /* Menghapus margin default */
}

.card p.text {
  padding: 0 10px; /* Menambahkan padding kiri dan kanan */
  font-size: 10px; /* Ukuran teks */
}

.card button {
  border: none;
  outline: 0;
  padding: 6px; /* Ukuran button */
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 9px; /* Ukuran teks button */
  margin-top: auto; /* Memastikan tombol berada di bawah */
}

.card button:hover {
  opacity: 0.7;
}

.rname {
    margin-top: 0;  /* Menghapus margin atas */
    margin-bottom: 0; /* Menghapus margin bawah */
}

h1.rname {
    margin-bottom: 10px; /* Atur jarak bawah h1 sesuai kebutuhan */
}
